@mixin btn 
    border-radius: 10px
    background-color: #ffd200
    border: none
    color: $accent
    +bold

@mixin reg
    font-family: 'Museo Sans Cyrl', sans-serif
    font-weight: 400
    
@mixin bold
    font-family: 'Museo Sans Cyrl', sans-serif
    font-weight: 700
