@import "vars"
@import "mixins"
@import "fonts"

*, body 
    padding: 0
    margin: 0
    box-sizing: border-box
    +reg

img
    max-width: 100%
    
/***********************    Reusable ***************************/
.container 
    max-width: 1170px
    margin: auto
    width: 96%
    @media only screen and(max-width:640px)
        width: 90%
.btn
    border-radius: 10px
    background-color: $main-color
    border: none
    color: $accent
    +bold
    cursor: pointer
    padding: 20px 47px
    font-size: 13px
    &:hover
        background-color: darken($main-color, 5%)

.input
    border-radius: 10px
    border: 1px solid $color-input
    padding: 20px
    font-size: 15px

/***********************    Header   ***************************/
.header 
    padding: 20px 0

    &-block
        display: flex
        justify-content: space-between
        align-items: center
    

    &__info
        display: flex
        align-items: center
        text-align: right
              

    &__contact 
        display: flex
        flex-direction: column
        text-align: right
        justify-content: center
        @media only screen and(max-width:640px)
            display: none
        
    &__button
       margin-left: 30px
        
                
    &__adress
        color: $accent
        font-size: 13px
        font-weight: 400px

    &__phone 
        color: $accent
        font-size: 20px
        +bold
        text-decoration: none
        display: block
        margin-top: 12px


/***********************    Main-block ***************************/
.main
    background-color: $bcgcolor
    &-block
        display: flex
        /* align-items: center */
        justify-content: space-between
        @media only screen and(max-width:950px)
            flex-direction: column
    &-text
        flex-basis: 50%

        &__title
            max-width: 500px
            font-size: 41px
            color: $accent
            font-weight: 400
            line-height: 55px
            margin: 60px 0 30px 0
            +bold
            @media only screen and(max-width:640px)
                font-size: 24px
                margin: 40px 0 10px 0
                line-height: 1.4

        &__subtitle
            line-height: 65px
            font-size: 20px
            color: $accent
            +bold
            @media only screen and(max-width:640px)
                font-size: 16px
                line-height: 1.4
    &-list
        margin-top: 40px

        &__item
            display: flex
            align-items: center
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
            @media only screen and(max-width:640px)
                margin-bottom: 12px

        &__image
            width: 40px
            height: 40px
            border: 2px solid $main-color
            border-radius: 50px
            display: flex
            align-items: center
            justify-content: center
            margin-right: 30px

        &__text
            font-size: 14px
            line-height: 24px 
            color: $accent
            max-width: 300px 
            @media only screen and(max-width:640px)
                font-size: 12px
                max-width: 200px     
            
    &-image
        padding: 50px 0
       

/***********************  Offer  ***************************/
.offer
    padding: 90px 0
    background: url(../images/offer-bcg.jpg) no-repeat
    background-position: center right
    background-contain: 
    position: relative
    @media only screen and(max-width:800px)
        background: 0
        
    &:before
        content: ''
        width: 50%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background-color: #fff
        
    &-block
        width: 50%
        padding-right: 90px
        position: relative
        @media only screen and(max-width:1020px)
            padding-right: 30px
        @media only screen and(max-width: 800px)    
            width: 100%
    &-title
        font-size: 24px
        line-height: 35px
        max-width: 340px
        margin-bottom: 25px
        +bold 
    &-subtitle
        display: inline-block
        max-width: 350px
        font-size: 16px
        margin-bottom: 30px
    &__input
        margin-bottom: 30px
        width: 48.5%
        &:first-child
            margin-right: 2%
        @media only screen and(max-width:1020px)
            width: 100%
            margin-bottom: 10px
    &__button
        width: 100%
        min-height: 70px

.call
    display: flex
    justify-content: space-between
    padding-top: 30px
    line-height: 24px
    @media only screen and(max-width:550px)
        flex-direction: column
    & p
        font-size: 15px
    &-right
        @media only screen and(max-width:550px)
            margin-top: 10px
        &__phone
            +bold
            color: $accent

    
/*********************** Portfolio ***************************/
.portfolio
    padding: 100px 0
    background: $bcgcolor url('') left repeat-y
    background-size: 50%
    &-title
        +sectionTitle
        color: $accent
        margin-bottom: 100px
    &__arrows
        max-width: 120px
        display: flex
        justify-content: space-between
        margin: auto
        margin-top: 70px
.slider
    &__image
        margin: auto
.arrows-left, .arrows-right
    cursor: pointer
    
    
/*********************** Price ***************************/
.price
    padding: 100px 0
    &__title
        +sectionTitle
        padding: 0 30%
        margin-bottom: 20px
        @media only screen and(max-width:1166px)
            padding: 0 28%
        @media only screen and(max-width:686px)
            padding: 0 5%
        @media only screen and(max-width:510px)
            font-size: 25px
    &__subtitle
        +sectionSubtitle
        margin-bottom: 60px
        
    &__card
        margin-bottom: 20px

.cards
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    @media only screen and(max-width:780px)
        justify-content: space-around
        
.card
    text-align: center
    border: 1px solid $cardBorder
    max-width: 370px
    &:hover
        box-shadow: 0 20px 25px rgba(0,0,0,.1)
        transition: .2s
        .card__image::before
            opacity: 1
    &__image
        position: relative
        & img
            display: block
        &::before
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background-image: linear-gradient(to top, rgba(255, 210, 0, .7) 0%, rgba(255, 255, 255,.0) 100%)
            opacity: 0
            transition: .2s
    &__text
        padding: 40px 0
    &__title
        margin-bottom: 20px
        font-size: 18px
    &__link
        text-decoration: none
        +bold
        color: $accent
        position: relative
        
        &:hover
            &::after
                height: 13px
        &::after
            content: ''
            z-index: -1
            display: block
            position: absolute
            bottom: -4px
            left: 0
            width: 100%
            height: 3px
            background-color: $main-color
            transition: .2s

/*********************** Price ***************************/  
.steps
    margin-bottom: 100px
    &__title
        +sectionTitle
        margin-bottom: 60px
    &__subtitle
        +sectionSubtitle
        margin-bottom: 60px

.icons
    display: flex
    justify-content: space-between
    
.icon
    text-align: center
    &__img
        border: 3px solid #ffd200
        border-radius: 50px
        background-color: #ffffff
        width: 100px
        height: 100px
        margin: auto
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 30px
        img
            width: 35px
            height: 35px
    &__text
        max-width: 160px
        display: inline-block

    








/***********************    Modal ***************************/

.modal
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(#000, .5)       
    display: none
    &_active
        display: flex
    &-dialog
        margin: auto
        max-width: 450px
        width: 90%
        background-color: #fff
        min-height: 200px
        padding: 40px
        position: relative
        &__close
            position: absolute
            top: 0
            right: 0
            width: 25px

        