* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***********************    Reusable ****************************/
.container {
    max-width: 1170px;
    margin: 0 auto;
}


/***********************    Header   ****************************/
header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}


.header-text {
    display: inline-block;
    text-align: right;
}

.city {
    color: #333333;
    font-family: "Museo Sans Cyrl -300";
    font-size: 13px;
   
}

.phone {
    color: #333333;
    font-family: "Museo Sans Cyrl -700";
    font-size: 20px;
    font-weight: 700;
    
    
}

.header-btn {
    display: inline-block;
    margin-left: 30px;
}

.header-btn a {
    
    border-radius: 10px;
    background-color: #ffd200;
    padding: 20px 47px;
    color: #333333;
    font-family: "Museo Sans Cyrl -700";
    font-size: 13px;
    
}